<!DOCTYPE html>
  <html>
    <head>
      <title>University!</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
      <h1>Favorite Photos</h1>
      <ul>
        <li><img src='~/img/space.jpg'/></li>
        <li><img src='~/img/space2.jpg'/></li>
        <li><img src='~/img/space3.jpg'/></li>
      </ul>
    </body>
  </html>